[Unit]
Description=EIT mount utility
DefaultDependencies=no
Requires=network-online.target
After=network-online.target
Before=shutdown.target reboot.target halt.target

[Service]
Type=simple
ExecStart=./lib/eit-mount-utility/eitserver-linux
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=EIT-Service-

[Install]
WantedBy=multi-user.target
